<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>renter index</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main-content" class="container">
    <h1>Καλωσήρθατε στην αρχική σελίδα του Ενοικιαστή</h1>

    <!-- Δημιουργία κουμπιών -->
    <div class="button-group">
        <button class="button1" type="submit" formaction="@{/Renter/Search}">Αναζήτηση Ακινήτων</button>
        <button class="button1" type="submit" formaction="@{/Renter/RentalApplications}">Εμφάνιση Αιτήσεων</button>
    </div>
</div>
</body>
</html>
