<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Applications</title>
    <link th:href="@{/css/manageApplications.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main-content" class="container">
    <form class="form">
        <p id="heading">Owner's Rental Applications</p>
        <div th:if="${#lists.isEmpty(Applications)}">
            <p style="color: black; font-size: 3em; margin-bottom: 2em;">No rental applications were found!</p>
        </div>
        <form class="form">
        <div th:each="RentalApplication : ${Applications}" class="property-card">
                <div class="field">
                    <h2>Name:</h2>
                    <h2 th:text="${RentalApplication.getProperty().getEstateName()}">Property Name</h2>
                </div>
                <div class="field">
                    <h2>Renter username:</h2>
                    <p th:text="${RentalApplication.getRenter().getUsername()}">Renter Username</p>
                </div>
            <button class="button1" name="ViewApplication">View Application</button>
        </div>
    </form>
    </form>
</div>
</body>
</html>
