<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Applications</title>
    <link th:href="@{/css/manageApplications.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main-content">
    <form class="form">
        <div th:if="${ not#lists.isEmpty(Applications)}">
            <table class="table">
                <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Renter Name</th>
                    <th>Rental Duration</th>
                    <th>Renter Job</th>
                    <th>Renter Pets</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="RentalApplication : ${Applications}">
                    <td th:text="${RentalApplication.getProperty().getEstateName()}"></td>
                    <td th:text="${RentalApplication.getRenter().getUsername()}"></td>
                    <td th:text="${RentalApplication.getRentalDuration()}"></td>
                    <td th:text="${RentalApplication.getRenterJob()}"></td>
                    <td th:text="${RentalApplication.getRenterPets()}"></td>
                    <td th:if="${RentalApplication.getId()}">
                        <a class="button1" th:href="@{/Owner/manageRentalApplications/setstatus/{rentalApplication_id}(rentalApplication_id=${RentalApplication.getId()})}" th:params="status='accept'">Accept</a>
                    </td>
                    <td th:if="${RentalApplication.getId()}">
                        <a class="button1" th:href="@{/Owner/manageRentalApplications/setstatus/{rentalApplication_id}(rentalApplication_id=${RentalApplication.getId()})}" th:params="status='decline'">Decline</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${ #lists.isEmpty(Applications)}">
            No rental applications were found!
        </div>
    </form>
</div>
</body>
</html>
