<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link th:href="@{/css/ownerListings.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main-content" class="container">
    <form class="form">
        <p id="heading">Owner's Listings</p>
        <div th:if="${#lists.isEmpty(Listings)}">
            <p style="color: black; font-size: 3em; margin-bottom: 2em;">No listings were found!</p>
        </div>
        <div th:each="property : ${Listings}" class="property-card">
            <h2 th:text="${property.getEstateName()}">Property Name</h2>
            <p th:text="${property.getDescription()}">Property Description</p>
            <p th:text="${property.getPrice()}">Property Price</p>
            <button class="button1" name="Change Availability">Change Availability</button>
            <button class="button1" name="DeleteProperty">Delete Property</button>
        </div>
    </form>
</div>
</body>
</html>
