<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link th:href="@{/css/ownerListings.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main-content" th:action="@{/Listings} " class="container">
    <form class="form">
        <p id="heading">Owners Listings</p>
    </form>
</div>
</body>
</html>
