<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link th:href="@{/css/ownerListings.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main-content" class="container">
    <form class="form">
        <p id="heading">Owner's Listings</p>
        <div th:if="${ not#lists.isEmpty(Listings)}" style="color: black">
            <table class="table">
                <thead>
                <tr>
                    <th>Estate Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Availability</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="property : ${Listings}">
                    <td th:text="${property.getEstateName()}"></td>
                    <td th:text="${property.getDescription()}"></td>
                    <td th:text="${property.getPrice()}"></td>
                    <td th:text="${property.isAvailableForSale() ? 'Available' : 'Unavailable'}"></td>
                    <td th:if="${property.getId()}"><a class="button1" th:href="@{/Owner/Listings/ChangeAvailability/{property_id}(property_id=${property.id})}">Change Availability</a>
                    <td th:if="${property.getId()}"><a class="button1" th:href="@{/Owner/Listings/Delete/{property_id}(property_id=${property.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${ #lists.isEmpty(Listings)}" style="color: black">
            No listings were found!
        </div>
    </form>
</div>
</body>
</html>
