<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand">Akinita</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/" data-path="/" >Home</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/users">Users</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/Service/AcceptListings">Accept Listings</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/Renter/AcceptRenters">Accept Renters</a>
            </a>
            <a sec:authorize="!isAuthenticated()"  class="nav-link">
                <a  class="nav-link" href="/login">Login</a>
                <a  class="nav-link" href="/roleselection">Register</a>
            </a>
            <a sec:authorize="isAuthenticated()"  class="nav-link">
                <form th:action="@{/logout}" method="post">
                    <input type="submit"  class="btn btn-primary" value="Sign Out"/>
                </form>
                <a sec:authorize="hasRole('ROLE_OWNER')" class="nav-link" href="/Owner/submitProperty">Add Listing</a>
                <a sec:authorize="hasRole('ROLE_OWNER')" class="nav-link" href="/Owner/Listings">View Listings</a>
                <a sec:authorize="hasRole('ROLE_OWNER')" class="nav-link" href="/Owner/manageApplications">Applications</a>
                <a sec:authorize="hasRole('ROLE_RENTER')" class="nav-link" href="/Renter/RentalApplications">Rental Applications</a>
                <a sec:authorize="hasRole('ROLE_RENTER')" class="nav-link" href="/Renter/Search">Rented Properties</a>

            </a>
        </nav>
    </div>
</header>
</body>
</html>